@tailwind base;
@tailwind components;
@tailwind utilities;

.description {
    max-height: 300px;  /* Adjust based on your needs */
    overflow-y: auto;
}

.imageHover:hover{
    transition: all 0.15s ease-in-out;
    transform: scale(1.02);
    box-shadow: 0 0 10px #fff;
    box-sizing: border-box;
    border-radius: 17px;
}

.carousel-container {
    z-index: 20;  /* Adjust as needed */
    overflow: hidden;
}

.custom-prev {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
}

.custom-prev:hover {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
}

.custom-next {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transition: all 0.25s ease-in-out;
}

.custom-next:hover {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
}

.padding-container {
    padding: 0 2rem;
}
